@media (max-width: 576px) {
  body {
    overflow-y: scroll;
  }
}

/* Medium devices (≥768px) */
@media (max-width: 768px) {
  body {
    overflow: scroll;
  }
}

/* Large devices (≥992px) */
@media (max-width: 992px) {
  body {
    overflow: scroll;
  }
}

/* Extra large (≥1200px) */
@media (max-width: 1200px) {
  body {
    overflow: scroll;
  }
}
