/* Base smooth transition */
body {
  transition: background-color 0.3s, color 0.3s;
  
}

/* index.css or App.css */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}

/* Light mode styles */
body.light-mode {
  background-color: #f8f9fa;
  color: #212529;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

/* Card & navbar support */
.card.dark,
.navbar.dark {
  background-color: #1e1e1e !important;
  color: white !important;
}

.card.light,
.navbar.light {
  background-color: white !important;
  color: black !important;
}
